<div class="reecosys-main-wrapper" id="reecosys-main-wrapper" ng-if="!is_all_project_loading_detail"
    ng-click="country_code_click_false();">

    <div id="reecosys-project-detail-wrapper" class="relative">
        <section class="reecosys-section relative" id="reecosys-project-detail-section-2">

            <div>
                <!-- video -->
                <div class="project_banner_image relative"
                    ng-if="projects_full_list_detail.banner_data.image_web_type == 'video' && ((!isMobilescreen && projects_full_list_detail.banner_data.image_web_full.length > 0) || (isMobilescreen && !projects_full_list_detail.banner_data.image_mobile_full.length))">
                    <video autoplay muted loop playsinline id="myVideo"
                        style="width: 100%;display: block; object-fit: cover;" class="gallery-images image-cover">
                        <source src="{{projects_full_list_detail.banner_data.image_web_full}}" type="video/mp4">
                    </video>
                    <div class="project_banner_overlay2"></div>
                </div>
                <div class="project_banner_image relative"
                    ng-if="projects_full_list_detail.banner_data.image_mobile_type == 'video' && isMobilescreen && projects_full_list_detail.banner_data.image_mobile_full.length > 0">
                    <video autoplay muted loop playsinline id="myVideo"
                        style="width: 100%;display: block; object-fit: cover;" class="gallery-images image-cover">
                        <source src="{{projects_full_list_detail.banner_data.image_mobile_full}}" type="video/mp4">
                    </video>
                    <div class="project_banner_overlay2"></div>
                </div>
                <!-- video -->

                <!-- image -->
                <div class="relative c"
                    style="background-image: url({{projects_full_list_detail.banner_data.image_web_full}}&h=1080&w=1903&q=75); background-position: 50% 0px;"
                    ng-if="!isMobilescreen && projects_full_list_detail.banner_data.image_web_type == 'image'">
                    <!-- <img src="assets/images/other/dummy_image.png"
                        hires="{{projects_full_list_detail.banner_data.image_web_full}}&h=1080&w=1903&q=75"
                        alt="{{projects_full_list_detail.size_price}}" class="gallery-images image-cover"> -->
                    <div class="project_banner_overlay2"></div>
                </div>
                <div ng-if="isMobilescreen">
                    <div class="project_banner_image relative"
                        ng-if="projects_full_list_detail.banner_data.image_web_type == 'image' && ((!isMobilescreen && projects_full_list_detail.banner_data.image_web_full.length > 0) || (isMobilescreen && !projects_full_list_detail.banner_data.image_mobile_full.length))">
                        <img src="assets/images/other/dummy_image.png"
                            hires="{{projects_full_list_detail.banner_data.image_web_full}}&h=1080&w=1903&q=75"
                            alt="{{projects_full_list_detail.project_title}}" class="gallery-images image-cover">
                        <div class="project_banner_overlay2"></div>
                    </div>
                </div>


                <div class="project_banner_image relative"
                    ng-if="projects_full_list_detail.banner_data.image_mobile_type == 'image' && isMobilescreen && projects_full_list_detail.banner_data.image_mobile_full.length > 0">
                    <img src="assets/images/other/dummy_image.png"
                        hires="{{projects_full_list_detail.banner_data.image_mobile_full}}&h=700&w=700&q=75"
                        alt="{{projects_full_list_detail.project_title}}" class="gallery-images image-cover">
                    <div class="project_banner_overlay2"></div>
                </div>
                <!-- image -->

                <div class="project-detail-info-banner"
                    ng-if="projects_full_list_detail.banner_data.title || projects_full_list_detail.size_price || projects_full_list_detail.location || projects_full_list_detail.status.length > 0">
                    <div class="inner-flex">
                        <div class="banner_content-flex">

                            <div class="section-title-flex mob-jc-sb wow fadeIn" data-wow-delay="0.6s"
                                data-wow-duration="0.6s" ng-if="projects_full_list_detail.banner_data.title">
                                <div class="banner-title m75w">
                                    <h1 class="white-color" ng-bind-html="projects_full_list_detail.banner_data.title">
                                    </h1>
                                </div>
                            </div>

                            <div class="banner-detail-row banner_sub_info wow fadeIn" data-wow-duration="0.6s"
                                data-wow-delay="1s"
                                ng-if="projects_full_list_detail.size_price || projects_full_list_detail.location || projects_full_list_detail.status.length > 0">
                                <div class="project-information-div wow fadeIn" data-wow-duration="0.6s"
                                    data-wow-delay="0.6s" ng-if="projects_full_list_detail.size_price">
                                    <div class="building-icon">
                                        <img src="assets/images/icon/building_white.svg"
                                            alt="{{projects_full_list_detail.size_price}}">
                                    </div>
                                    <div class="content-size-div project_banner_info_size mt4">
                                        <p class="capitalize">
                                            {{projects_full_list_detail.size_price}}
                                        </p>
                                    </div>
                                </div>

                                <div class="project-information-div wow fadeIn" data-wow-duration="0.6s"
                                    data-wow-delay="0.8s" ng-if="projects_full_list_detail.location">
                                    <div class="building-icon">
                                        <img src="assets/images/icon/location_white.svg"
                                            alt="{{projects_full_list_detail.size_price}}">
                                    </div>
                                    <div class="content-size-div mt4">
                                        <p class="capitalize">
                                            {{projects_full_list_detail.location}}
                                        </p>
                                    </div>
                                </div>

                                <div class="project-information-div wow fadeIn" data-wow-duration="0.6s"
                                    data-wow-delay="1s" ng-if="projects_full_list_detail.construction">
                                    <div class="progress-statuss">
                                        <div class="progress progress_banner"
                                            data-percentage="{{projects_full_list_detail.construction.progress_percent}}"
                                            ng-if="projects_full_list_detail.construction.progress_percent > 0">
                                            <span class="progress-left">
                                                <span class="progress-bar"></span>
                                            </span>
                                            <span class="progress-right">
                                                <span class="progress-bar"></span>
                                            </span>
                                            <div class="progress-value value_get">
                                                <p>{{projects_full_list_detail.construction.progress_percent}}</p>
                                            </div>
                                        </div>
                                        <div class="progress-consctruction progress_banner white"
                                            ng-if="projects_full_list_detail.construction.progress_percent == 0">
                                            <img src="assets/images/icon/construction.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="content-size-div" ng-if="projects_full_list_detail.status">
                                        <p class="capitalize">
                                            {{projects_full_list_detail.status}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        
        <section class="reecosys-section relative" id="reecosys-project-detail-section-3"
            ng-if="projects_full_list_detail.highlights.length > 0 || projects_full_list_detail.rera_number || projects_full_list_detail.document_data.length > 0 || projects_full_list_detail.big_text_pain">
            <div class="container">
                <div class="inner-flex">

                    <div class="highlights-grid" ng-if="projects_full_list_detail.highlights.length > 0">
                        <div ng-repeat="data in projects_full_list_detail.highlights" class="wow fade_top"
                            data-wow-duration="0.3s" data-wow-delay="0.{{$index*3}}s">
                            <div class="section-title-big" ng-if="data.name">
                                <h2 class="capitalize">
                                    {{data.name}}
                                </h2>
                            </div>
                            <div class="content-size-div" ng-if="data.tag_line">
                                <p class="capitalize" ng-bind-html="data.tag_line"></p>
                            </div>
                        </div>
                    </div>

                    <div class="content-size-div content-size-div-detail-section-highlight wow fade_top"
                        data-wow-duration="0.6s" data-wow-delay="0.8s" ng-if="projects_full_list_detail.big_text_pain">
                        <p read-more dd-text-collapse-max-length="180"
                            dd-text-collapse-text="{{projects_full_list_detail.big_text_pain}}">
                        </p>
                    </div>

                    <div class="project-rera-number wow fade_top" data-wow-duration="0.6s" data-wow-delay="0.9s"
                        ng-if="projects_full_list_detail.rera_number != null && projects_full_list_detail.rera_number != undefined && projects_full_list_detail.rera_number != ''">
                        <p class="capitalize">
                            RERA : {{projects_full_list_detail.rera_number}}
                        </p>
                    </div>

                    <div class="download-button-filled-ul"
                        ng-if="projects_full_list_detail.document_data.length > 0 || projects_full_list_detail.document_other_data.length > 0">
                        <ul>
                            <li ng-repeat="download_data in projects_full_list_detail.document_data"
                                ng-if="projects_full_list_detail.document_data.length > 0"
                                ng-click="inquire_popup_web_toggle(); inquiry_from_click(download_data.type);"
                                class="wow fade_top" data-wow-duration="0.6s" data-wow-delay="0.{{$index+3}}s">
                                <div class="outline-div-button button-div">
                                    <button class="button-style download-fill-button wow fade_top"
                                        data-wow-duration="0.6s" data-wow-delay="0.6s">
                                        <p class="capitalize">
                                            {{download_data.type | replace: '_':' '}}
                                        </p>
                                    </button>
                                </div>
                            </li>
                            <li ng-repeat="download_data in projects_full_list_detail.document_other_data"
                                ng-if="projects_full_list_detail.document_other_data.length > 0"
                                ng-click="inquire_popup_web_toggle(); inquiry_from_click(download_data.type);"
                                class="wow fade_top" data-wow-duration="0.6s" data-wow-delay="0.{{$index+3}}s">
                                <div class="outline-div-button button-div">
                                    <button class="button-style download-fill-button wow fade_top"
                                        data-wow-duration="0.6s" data-wow-delay="0.6s">
                                        <p class="capitalize">
                                            {{download_data.type}}
                                        </p>
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </section>

        <section class="reecosys-section relative"
            ng-if="projects_full_list_detail.experts_data.experts_array.length > 0 && is_section_Scrolled"
            id="reecosys-project-detail-expert-section">
            <div class="container overflow">
                <div class="inner-flex wow fadeIn" data-wow-duration="0.6s" data-wow-delay="0.4s">
                    <div class="content-size-div">
                        <p class="title-color capitalize">
                            Experts
                        </p>
                    </div>
                    <div class="experts_logo_list">
                        <ks-swiper-container override-parameters="experts_swiper">
                            <ks-swiper-slide ng-repeat="data in projects_full_list_detail.experts_data.experts_array">
                                <div class="experts_logo">
                                    <img data-src="assets/images/other/dummy_image.png"
                                        hires="{{data.logo_full}}&h=130&w=310" class="lazyload" alt="">
                                </div>
                            </ks-swiper-slide>
                        </ks-swiper-container>
                    </div>
                </div>
            </div>
        </section>

        <section class="reecosys-section relative" id="reecosys-project-detail-section-4"
            ng-repeat="video in projects_full_list_detail.virtual_data"
            ng-if="projects_full_list_detail.virtual_data.length > 0 && video.type == 'walk-through' && video.image && is_section_Scrolled">
            <div class="container overflow">
                <div class="inner-flex">
                    <div class="walkthrough-project-thumb relative">
                        <a data-fancybox="walkthrough-fancy" href="{{video.url}}" target="_self" class="">
                            <div class="walk-thumbnail-image relative">

                                <img data-src="assets/images/other/dummy_image.png"
                                    hires="{{video.image}}&w=1320&q=75&h=740" class="image-cover wow fadeIn lazyload"
                                    data-wow-duration="0.6s" data-wow-delay="0.3s"
                                    alt="{{projects_full_list_detail.size_price}}">
                                <div class="black_overlay"></div>
                            </div>
                            <div class="walkthrough-banner-content">
                                <div class="inner-flex wow fade_top" data-wow-duration="0.6s">
                                    <div class="section-information" ng-if="video.title || video.tag_line">
                                        <div class="content-size-div" data-wow-delay="0.4s" ng-if="video.title">
                                            <p class="white-color">{{video.title}}</p>
                                        </div>
                                        <div class="section-title" ng-if="video.tag_line">
                                            <h2 class="white-color" data-wow-delay="0.4s">
                                                {{video.tag_line}}
                                            </h2>
                                        </div>
                                    </div>
                                    <div class="outline-div-button button-div section-banner-button">
                                        <button class="button-style button-style-white">
                                            <div class="play_walkthrough_icon">
                                                <img src="assets/images/icon/play.svg"
                                                    alt="{{projects_full_list_detail.size_price}}">
                                            </div>
                                            <p class="">
                                                Play
                                            </p>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </section>

        <section id="reecosys-project-detail-section-5"
            ng-if="projects_full_list_detail.gallery_data_all[0].image.length > 0 && is_section_Scrolled">
            <!-- <div class="reecosys-section" id="reecosys-detail-section-gallery"
                ng-repeat="gallery in projects_full_list_detail.gallery_data"
                ng-if="projects_full_list_detail.gallery_data.length > 0 && gallery_get == gallery.title">
                <div ng-include="'templates/projects/all_gallery2.html'"></div>
            </div> -->

            <div class="reecosys-section" id="reecosys-detail-section-gallery"
                ng-repeat="gallery in projects_full_list_detail.gallery_data_all"
                ng-if="gallery.image.length > 0 && gallery_get == ''">
                <!-- <div ng-include="'templates/projects/all_gallery2.html'"></div> -->
                <div class="inner-flex">
                    <div class="container">
                        <div class="relative wow fade_top" data-wow-duration="0.6s" data-wow-delay="0.3s">
                            <div class="section-information relative" ng-if="gallery.title || gallery.tag_line">
                                <div class="content-size-div" ng-if="gallery.title">
                                    <p class="title-color capitalize">
                                        {{gallery.title}}
                                    </p>
                                </div>
                                <div class="section-title gallery-section-title-flex relative"
                                    ng-if="gallery.tag_line && gallery.tag_line != 'undefined'">
                                    <h2>
                                        {{gallery.tag_line}}
                                    </h2>
                                </div>
                            </div>

                            <div class="web-3d-icon" ng-if="projects_full_list_detail.virtual_data.length > 0">
                                <div class="outline-div-button button-div virtual_tour_data"
                                    ng-repeat="video in projects_full_list_detail.virtual_data"
                                    ng-if="projects_full_list_detail.virtual_data.length > 0 && video.type == 'virtual-tour'">
                                    <a class="fancybox" data-fancybox="virtual-tour" data-type="iframe"
                                        data-href="{{video.url}}" href="javascript:void(0)" target="_self"
                                        class="button-style orange-button">
                                        <button class="button-style orange-button wow fadeIn" data-wow-duration="0.6s"
                                            data-wow-delay="0.6s">
                                            <p>
                                                <span class="bold">360&deg;</span> Virtual Tour
                                            </p>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="project-gallery-outer inner-flex">
                        <div class="project_gallery_grid">
                            <div ng-repeat="gallaryImgData in gallery.image" ng-if="$index <= 7">
                                <a data-fancybox="project-gallery-fancy" href="{{gallaryImgData.image_full}}"
                                    target="_self">
                                    <div class="overflow project_gallery_hover relative">
                                        <img data-src="assets/images/other/dummy_480.jpg"
                                            hires="{{gallaryImgData.image}}&h=500&w=500&q=75"
                                            alt="{{projects_full_list_detail.size_price}}"
                                            class="image-cover wow fadeIn lazyload" data-wow-duration="0.6s"
                                            data-wow-delay="0.{{$index*3}}s">
                                        <div class="project_gallery_overlay"></div>
                                        <div class="project-gallery-title"
                                            ng-if="gallaryImgData.title != 'undefined' && gallaryImgData.title != 'null' && gallaryImgData.title != ''">
                                            <p class="capitalize">
                                                {{gallaryImgData.title}}
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="view_gallery_btn" ng-if="gallery.image.length >= 8">

                            <div class="outline-div-button button-div wfc">
                                <button class="button-style download-fill-button">
                                    <a ng-repeat="gallaryImgData in gallery.image" href="{{gallaryImgData.image_full}}"
                                        data-fancybox="project-gallery-fancy2" target="_self" ng-if="$index == 0">
                                        <p>
                                            View All Images
                                        </p>
                                    </a>
                                </button>
                            </div>

                            <!-- <a ng-repeat="gallaryImgData in gallery.image" href="{{gallaryImgData.image_full}}"
                                data-fancybox="project-gallery-fancy2" target="_self" ng-if="$index == 0">
                                <p>
                                    View all Images
                                </p>
                            </a> -->

                        </div>
                        <a ng-repeat="gallaryImgData in gallery.image" data-fancybox="project-gallery-fancy2"
                            href="{{gallaryImgData.image_full}}" target="_self" ng-if="$index != 0"
                            style="display: none;">
                        </a>
                    </div>

                    <div class="mob-3d-icon container">
                        <div class="outline-div-button button-div"
                            ng-repeat="video in projects_full_list_detail.virtual_data"
                            ng-if="projects_full_list_detail.virtual_data.length > 0 && video.type == 'virtual-tour'">
                            <a class="fancybox" data-fancybox="walk-through" data-type="iframe"
                                data-href="{{video.url}}" href="javascript:void(0)" target="_self"
                                class="button-style orange-button">
                                <button class="button-style orange-button wow fadeIn" data-wow-duration="0.6s"
                                    data-wow-delay="0.6s">
                                    <p>
                                        <span class="bold">360&deg;</span> Virtual Tour
                                    </p>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="reecosys-section relative" id="reecosys-project-detail-section-6"
            ng-if="projects_full_list_detail.amenities_data && is_section_Scrolled">
            <div class="container overflow">
                <div class="">
                    <div class="project-amenities-grid project-amenities-grid-new relative">
                        <div class="amenities-block-section inner-flex">
                            <div class="section-information wow fade_top" data-wow-duration="0.6s"
                                data-wow-delay="0.3s">
                                <div class="content-size-div" ng-if="projects_full_list_detail.amenities_title">
                                    <p class="title-color capitalize">
                                        {{projects_full_list_detail.amenities_title}}
                                    </p>
                                </div>
                                <div class="section-title capitalize"
                                    ng-if="projects_full_list_detail.amenities_tagline">
                                    <h2>
                                        {{projects_full_list_detail.amenities_tagline}}
                                    </h2>
                                </div>
                            </div>

                            <div class="amenities-banner amenities-banner-mob amenities_section_container relative wow fade_top"
                                data-wow-duration="0.6s" data-wow-delay="1.1s">
                                <img data-src="assets/images/other/dummy_image.png"
                                    hires="{{projects_full_list_detail.amenities_images[0].image}}&h=570&w=670&q=75"
                                    alt="{{projects_full_list_detail.size_price}}"
                                    ng-if="projects_full_list_detail.amenities_images[0].image" class="lazyload">
                                <img src="assets/images/amenities/amenities_banner.jpg"
                                    alt="{{projects_full_list_detail.project_title}}"
                                    ng-if="!projects_full_list_detail.amenities_images[0].image">
                            </div>

                            <div class="amenities-grid wow fade_top" data-wow-duration="0.6s" data-wow-delay="0.9s">
                                <div ng-repeat="amenities in projects_full_list_detail.amenities_data"
                                    ng-if="$index <= amenities_count" class="">

                                    <div class="amenities-icon">
                                        <img src="{{amenities.icon}}" alt="{{projects_full_list_detail.project_title}}">
                                    </div>
                                    <div class="amenities-text amenities-text-bind">
                                        <p class="capitalize">
                                            {{amenities.amenity}}
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="amenities-view-btn view-more-less wow fade_top" data-wow-duration="0.6s"
                                data-wow-delay="0.6s">

                                <div class="outline-div-button button-div wfc" ng-click="view_moreless_toggle()"
                                    ng-if="projects_full_list_detail.amenities_data.length >= 7">
                                    <button class="button-style download-fill-button">
                                        <p class="capitalize">
                                            View All Amenities
                                        </p>
                                    </button>
                                </div>
                                <!-- <a href="javascript:void(0);">
                                    <p>
                                        <span class="view-more">
                                            View All Amenities
                                        </span>
                                    </p>
                                </a> -->
                            </div>
                        </div>

                        <div class="amenities-banner amenities-banner-web amenities_section_container relative wow fade_top"
                            data-wow-duration="0.6s" data-wow-delay="1.1s">

                            <img data-src="assets/images/other/dummy_image.png"
                                hires="{{projects_full_list_detail.amenities_images[0].image}}&h=570&w=670&q=75"
                                alt="{{projects_full_list_detail.size_price}}"
                                ng-if="projects_full_list_detail.amenities_images[0].image" class="lazyload">

                            <img src="assets/images/amenities/amenities_banner.jpg" class="wow fadeIn"
                                data-wow-duration="0.6s" data-wow-delay="1.4s"
                                alt="{{projects_full_list_detail.size_price}}"
                                ng-if="!projects_full_list_detail.amenities_images[0].image">

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="reecosys-section relative" id="reecosys-project-detail-section-9"
            ng-if="projects_full_list_detail.specifications.length > 0 && is_section_Scrolled">
            <div class="container overflow">
                <div class="inner-flex">
                    <div class="section-information">
                        <div class="content-size-div">
                            <p class="title-color capitalize">
                                Specifications
                            </p>
                        </div>
                    </div>
                    <div class="relative specification-swiper specification-content-grid"
                        ng-if="projects_full_list_detail.specifications.length <= 3">
                        <div class="specs_data" ng-repeat="data in projects_full_list_detail.specifications">
                            <div class="specs_image">
                                <img data-src="assets/images/other/dummy_image.png" hires="{{data.image_full}}" alt=""
                                    class="lazyload">
                            </div>
                            <div class="content-size-div capitalize">
                                <p>{{data.title}}</p>
                            </div>
                            <div class="amenities-text specs-text">
                                <p read-more dd-text-collapse-max-length="90"
                                    dd-text-collapse-text="{{data.description}}">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="relative specification-swiper" ng-if="projects_full_list_detail.specifications.length > 3">
                <ks-swiper-container override-parameters="specification_swiper">
                    <!-- <ks-swiper-slide ng-repeat="data in projects_full_list_detail.specifications">
                        <div class="spec_content">
                            <div class="spec_image">
                                <img src="{{data.image_full}}" alt="">
                            </div>
                            <div>
                                <div class="content-size-div spec_title capitalize">
                                    <p>{{data.title}}</p>
                                </div>
                                <div class="amenities-text specification-text">
                                    <p read-more dd-text-collapse-max-length="90"
                                        dd-text-collapse-text="{{data.description}}">
                                    </p>
                                </div>
                            </div>
                        </div>
                    </ks-swiper-slide> -->
                    <ks-swiper-slide ng-repeat="data in projects_full_list_detail.specifications">
                        <div class="specs_data">
                            <div class="specs_image">
                                <img data-src="assets/images/other/dummy_image.png" hires="{{data.image_full}}" alt=""
                                    class="lazyload">
                            </div>
                            <div class="content-size-div capitalize">
                                <p>{{data.title}}</p>
                            </div>
                            <div class="amenities-text specs-text">
                                <p read-more dd-text-collapse-max-length="90"
                                    dd-text-collapse-text="{{data.description}}">
                                </p>
                            </div>
                        </div>
                    </ks-swiper-slide>
                </ks-swiper-container>
            </div>
        </section>

        <section class="reecosys-section relative" id="reecosys-project-detail-section-11" ng-if="projects_full_list_detail.videos.video_array.length > 0">
            <div class="container overflow">
                <div class="inner-flex">
                    <div class="section-information">
                        <div class="content-size-div">
                            <p class="title-color capitalize">
                                {{projects_full_list_detail.videos.title}}
                            </p>
                        </div>
                        <div class="section-title capitalize">
                            <h2>
                                {{projects_full_list_detail.videos.description}}
                            </h2>
                        </div>
                    </div>

                    <div class="project_video_grid" ng-if="projects_full_list_detail.videos.video_array.length <= 3">
                        <div ng-repeat="data in projects_full_list_detail.videos.video_array">
                            <a data-fancybox="projects-video" href="{{data.embed_url}}" target="_self">
                                <div class="relative project_video_div">
                                    <div class="project_video_image relative">
                                        <img src="{{data.image}}&h=300&w=500&q=75" alt="">
                                        <div class="video_play_btn">
                                            <img src="assets/images/icon/play.svg" alt="">
                                        </div>
                                        <div class="black_overlay"></div>
                                    </div>
                                    <div class="project_text">
                                        <p>{{data.title}}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="project_video_swiper" ng-if="projects_full_list_detail.videos.video_array.length > 3">
                        <ks-swiper-container override-parameters="swiper_project_video">
                            <ks-swiper-slide ng-repeat="data in projects_full_list_detail.videos.video_array">
                                <a data-fancybox="projects-video" href="{{data.embed_url}}" target="_self">
                                    <div class="relative project_video_div">
                                        <div class="project_video_image relative">
                                            <img src="{{data.image}}&h=300&w=500&q=75" alt="">
                                            <div class="video_play_btn">
                                                <img src="assets/images/icon/play.svg" alt="">
                                            </div>
                                            <div class="black_overlay"></div>
                                        </div>
                                        <div class="project_text">
                                            <p>{{data.title}}</p>
                                        </div>
                                    </div>
                                </a>
                            </ks-swiper-slide>
                        </ks-swiper-container>
                    </div>
                    <div class="swiper-scrollbar project_video_scrollbar"></div>
                </div>
            </div>
        </section>

        <section class="reecosys-section" id="reecosys-project-detail-section-7"
            ng-if="(projects_full_list_detail.construction_data.image.length > 0 || projects_full_list_detail.construction_data.video.length > 0) && is_section_Scrolled">
            <div class="">
                <div class="container relative">
                    <div class="inner-flex">
                        <div class="gallery-image-3d">

                            <div class="gallery-card-3d new-construction relative"
                                ng-repeat="image in projects_full_list_detail.construction_data.image"
                                ng-if="projects_full_list_detail.construction_data.image.length == 1">
                                <a data-fancybox="construction-gallery" href="{{image.image}}&h=850&w=1600&q=75"
                                    target="_self" class="" ng-if="image.image">
                                    <img data-src="assets/images/other/dummy_image.png"
                                        hires="{{image.image}}&h=668&w=1320&q=75"
                                        alt="{{projects_full_list_detail.size_price}}"
                                        class="image-cover wow fadeIn lazyload" data-wow-duration="0.6s"
                                        data-wow-delay="0.3s">
                                    <div class="black_overlay"></div>
                                    <div class="construction-banner-abs"
                                        ng-if="projects_full_list_detail.construction.tag_line">
                                        <div class="section-information wow fade_top" data-wow-duration="0.6s"
                                            data-wow-delay="0.6s">
                                            <div class="content-size-div"
                                                ng-if="projects_full_list_detail.construction.title">
                                                <p class="title-color white-color capitalize">
                                                    {{projects_full_list_detail.construction.title}}
                                                </p>
                                            </div>
                                            <div class="section-title"
                                                ng-if="projects_full_list_detail.construction.tag_line">
                                                <h2 class="white-color">
                                                    {{projects_full_list_detail.construction.tag_line}}
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="gallery-card-3d new-construction relative walkthrough-project-thumb"
                                ng-repeat="video in projects_full_list_detail.construction_data.video"
                                ng-if="projects_full_list_detail.construction_data.video.length == 1">
                                <a data-fancybox="construction-video" href="{{video.url}}" target="_self" class=""
                                    ng-if="video.url">
                                    <img data-src="assets/images/other/dummy_image.png"
                                        hires="{{video.image}}&h=668&w=1320&q=75"
                                        alt="{{projects_full_list_detail.size_price}}"
                                        class="image-cover wow fadeIn lazyload" data-wow-duration="0.6s"
                                        data-wow-delay="0.3s">
                                    <div class="black_overlay"></div>
                                    <div class="walkthrough-banner-content">
                                        <div class="inner-flex wow fade_top" data-wow-duration="0.6s">
                                            <div class="section-title">
                                                <h2 class="white-color" data-wow-delay="0.4s">
                                                    {{projects_full_list_detail.construction.tag_line}}
                                                </h2>
                                            </div>
                                            <div class="outline-div-button button-div section-banner-button">
                                                <button class="button-style button-style-white">
                                                    <div class="play_walkthrough_icon">
                                                        <img src="assets/images/icon/play.svg"
                                                            alt="{{projects_full_list_detail.size_price}}">
                                                    </div>
                                                    <p class="">
                                                        Play
                                                    </p>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <ks-swiper-container override-parameters="construction_swiper_new" class="relative"
                                ng-if="projects_full_list_detail.construction_data.image.length > 1">
                                <ks-swiper-slide ng-repeat="image in projects_full_list_detail.construction_data.image">
                                    <div class="gallery-card-3d new-construction relative">
                                        <a data-fancybox="construction-gallery" href="{{image.image}}&h=850&w=1600&q=75"
                                            target="_self" class="" ng-if="image.image">
                                            <img data-src="assets/images/other/dummy_image.png"
                                                hires="{{image.image}}&h=668&w=1320&q=75"
                                                alt="{{projects_full_list_detail.size_price}}"
                                                class="image-cover wow fadeIn lazyload" data-wow-duration="0.6s"
                                                data-wow-delay="0.3s">
                                            <div class="black_overlay"></div>
                                        </a>
                                    </div>
                                </ks-swiper-slide>
                            </ks-swiper-container>

                            <div class="paginationforcontruction span_circle"
                                ng-if="projects_full_list_detail.construction_data.image.length > 1">
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section class="reecosys-section relative" id="reecosys-project-detail-section-8"
            ng-if="(projects_full_list_detail.location_tag_line || projects_full_list_detail.proximity_data.proximity_array.length > 0) && is_section_Scrolled">

            <div class="container" id="project_location">
                <div class="section-information location_text wow fade_top" data-wow-duration="0.6s"
                    data-wow-delay="0.3s" ng-if="projects_full_list_detail.location_title">
                    <div class="content-size-div">
                        <p class="title-color capitalize">
                            {{projects_full_list_detail.location_title}}
                        </p>
                    </div>

                    <div class="section-information"
                        ng-if="projects_full_list_detail.location_tag_line || projects_full_list_detail.address_description">
                        <div class="section-title capitalize" ng-if="projects_full_list_detail.location_tag_line">
                            <h2>
                                {{projects_full_list_detail.location_tag_line}}
                            </h2>
                        </div>
                        <div class="content-size-div-padding-top content-size-div"
                            ng-if="projects_full_list_detail.address_description">
                            <p class="location-paragraph" ng-bind-html="projects_full_list_detail.address_description">
                            </p>
                        </div>
                        <!-- <div class="outline-div-button button-div wfc" style="margin-top: 1rem;">
                            <button class="button-style download-fill-button">
                                <a href="{{projects_full_list_detail.map_iframe}}" target="_blank">
                                    <p class="capitalize">
                                        View On Map
                                    </p>
                                </a>
                            </button>
                        </div> -->
                    </div>
                </div>

                <!-- <div class="section-information location_text wow fade_top" data-wow-duration="0.6s"
                    data-wow-delay="0.3s">
                    <div class="content-size-div">
                        <p class="title-color capitalize">
                            Proximity
                        </p>
                    </div>

                    <div class="inner-flex content-size-div-padding-top">
                        <div class="proximity-grid">
                            <div ng-repeat="data in projects_full_list_detail.proximity_data.proximity_array"
                                ng-if="$index <= 3">
                                <div class="proximity-content">
                                    <p class="relative">
                                        {{data.name}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="link-btn amenities-view-btn view-more-less" ng-click="view_moreless2_toggle()"
                            ng-if="projects_full_list_detail.proximity_data.proximity_array >= 3">
                            <a href="javascript:void(0);">
                                <p ng-class=" {'more_active': view_moreless2_toggleF}">
                                    <span class="view-more">
                                        View All Proximity
                                    </span>
                                    <span class="view-less">
                                        View Less
                                    </span>
                                </p>
                            </a>
                        </div>
                    </div>
                </div> -->
            </div>


            <div class="project-map-iframe detail-map relative" ng-if="projects_full_list_detail.map_iframe">
                <iframe data-src="assets/images/other/map_dummy.jpg" hires="{{projects_full_list_detail.map_iframe}}"
                    style="border:0;filter: grayscale(1);" allowfullscreen="" class="wow fadeIn lazyload"
                    data-wow-duration="0.6s" data-wow-delay="1.2s">
                </iframe>
            </div>

        </section>

        <section class="reecosys-section relative" ng-if="projects_full_list_detail.blog_data.length > 0">
            <div class="inner-flex">
                <div class="container">
                    <div class="content-size-div">
                        <p class="title-color capitalize bold_text wow fadeIn" data-wow-duration="0.6s"
                            data-wow-delay="0.6s">
                            Blogs
                        </p>
                    </div>
                </div>
                <div ng-if="projects_full_list_detail.blog_data.length > 2" class="project-blog-swiper wow fadeIn"
                    data-wow-duration="0.6s" data-wow-delay="0.7s">
                    <ks-swiper-container override-Parameters="project_blog_swiper">
                        <ks-swiper-slide ng-repeat="data in projects_full_list_detail.blog_data">
                            <a href="blog/{{data.slug}}" target="_blank">
                                <div class="section-information">
                                    <div class="profile_blog_image relative">
                                        <img src="assets/images/other/dummy_image.png"
                                            hires="{{data.image_full}}&h=400&w=590&q=75" alt=""
                                            class="image-cover lazyload">
                                    </div>
                                    <div class="blog_title_flex j-c-sb">
                                        <div class="content-size-div profile_small_text">
                                            <p>{{data.banner_title}}</p>
                                            <p class="blog-published-date">{{data.published_date}}</p>
                                        </div>
                                        <div>
                                            <div class="blog-arrow-icon">
                                                <img src="assets/images/icon/right_arrow_line.svg" alt="Blog">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </ks-swiper-slide>
                    </ks-swiper-container>
                    <div class="swiper-scrollbar swiper-scrollbar-blog"
                        ng-if="projects_full_list_detail.blog_data.length > 2"></div>
                </div>
                <div class="container" ng-if="projects_full_list_detail.blog_data.length <= 2">
                    <div class="profile_blog_block wow fadeIn" data-wow-duration="0.6s" data-wow-delay="0.7s">
                        <div ng-repeat="data in projects_full_list_detail.blog_data">
                            <a href="blog/{{data.slug}}">
                                <div class="section-information">
                                    <div class="profile_blog_image relative">
                                        <img src="assets/images/other/dummy_image.png"
                                            hires="{{data.image_full}}&h=400&w=590&q=75" alt=""
                                            class="image-cover lazyload">
                                    </div>
                                    <div class="blog_title_flex j-c-sb">
                                        <div class="content-size-div profile_small_text">
                                            <p>{{data.banner_title}}</p>
                                            <p class="blog-published-date">{{data.published_date}}</p>
                                        </div>
                                        <div>
                                            <div class="blog-arrow-icon">
                                                <img src="assets/images/icon/right_arrow_line.svg" alt="Blog">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section ng-if="is_section_Scrolled">
            <div class="container">
                <div ng-include='"templates/forms/project_detail_inquiry.html"'></div>
            </div>
        </section>
    </div>

</div>

<div class="quickEnquiryOverlay" ng-click="view_moreless_toggle_close()"
    ng-class="{'inqury_active' : view_moreless_toggleF}"></div>
<div class="amenities_popup" ng-class=" {'more_active': view_moreless_toggleF}">
    <div class="relative">
        <div class="all-amenities-grid-detail">
            <div class="amenities-close-icon-div-new">
                <div class="amenities-close-icon" ng-click="view_moreless_toggle_close()">
                    <img src="assets/images/icons/close.svg" alt="{{projects_full_list_detail.project_title}}">
                </div>
            </div>
            <div class="section-information">
                <div class="content-size-div" ng-if="projects_full_list_detail.amenities_title">
                    <p class="title-color capitalize">
                        {{projects_full_list_detail.amenities_title}}
                    </p>
                </div>
                <div class="section-title" ng-if="projects_full_list_detail.amenities_tagline">
                    <h2>
                        {{projects_full_list_detail.amenities_tagline}}
                    </h2>
                </div>
            </div>
            <div class="all-amenites-list">
                <ul>
                    <li ng-repeat="amenities in projects_full_list_detail.amenities_data">
                        <div class="amenities-icon">
                            <img data-src="assets/images/other/dummy_image.png" hires="{{amenities.icon}}"
                                alt="{{projects_full_list_detail.project_title}}" class="lazyload">
                        </div>
                        <div class="amenities-text">
                            <p>
                                {{amenities.amenity}}
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="amenities-grid-more" ng-class=" {'more_active': view_moreless2_toggleF}">
    <div class="all-amenities-grid">
        <div class="amenities-close-icon-div">
            <div class="amenities-close-icon" ng-click="view_moreless2_toggle_close()">
                <img src="assets/images/icons/close.svg" alt="{{projects_full_list_detail.project_title}}">
            </div>
        </div>

        <div class="section-information">
            <div class="content-size-div">
                <p class="title-color capitalize">
                    Proximity
                </p>
            </div>
        </div>

        <div class="all-amenites-ul">
            <div class="proximity-grid">
                <div ng-repeat="data in projects_full_list_detail.proximity_data.proximity_array">
                    <div class="proximity-icon">
                        <img data-src="assets/images/other/dummy_image.png" hires="{{data.image_full}}"
                            alt="{{projects_full_list_detail.project_title}}" class="lazyload">
                    </div>
                    <div class="proximity-content">
                        <p class="relative">
                            {{data.name}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .reecosys-brand-logo {
        display: none;
    }

    .project-logo-bock {
        display: block;
    }

    .project_banner_image_parallax {
        position: relative;
        background-size: cover;
        background-position: 50%;
        background-attachment: fixed;
        background-position: 50% 0;
        border-radius: 0px;
        height: 100vh;
    }
</style>
<script>
    (function ($) {
        var parallax = -0.2;

        var $bg_images = $(".project_banner_image_parallax");
        var offset_tops = [];
        $bg_images.each(function (i, el) {
            offset_tops.push($(el).offset().top);
        });

        $(window).scroll(function () {
            var dy = $(this).scrollTop();
            $bg_images.each(function (i, el) {
                var ot = offset_tops[i];
                $(el).css("background-position", "50% " + "0px");
                // $(el).css("background-position", "50% " + (dy - ot) * parallax + "px");
            });
        });
    })(jQuery);
</script>