<div class="side_popup_wrapper" ng-class="{'inqury_active': inquire_popup_web_toggleF}">
    <div class="inquiry_popup relative">
        <div class="close_icon" ng-click="inquire_popup_web_toggle_close(); country_code_click_false();">
            <img src="assets/images/icons/close.svg" alt="{{common_page_list.page_name.page_name}}">
        </div>
        <div>
            <div class="side_popup_in">
                <div class="section-title">
                    <p>
                        Enquire Now
                    </p>
                </div>
                <!-- <span ng-if="project_filter_data.project_title && projet_get == ''"></span> -->
                <div class="content-size-div" ng-if="projects_name">
                    <p class="capitalize">
                        {{projects_name}}
                    </p>
                </div>
                <!-- <span class="project_form_name capitalize">{{projects_full_list_detail.project_title}}</span> -->
                <form id="inquiry_form" name="inquiry_form" ng-submit="inquiryform(inquiry_form)"
                    ng-validate="inquiry_validate" ng-if="inquire_popup_web_toggleF">
                    <div class="form_wrapper">

                        <div class="contact_lable select_option select_apr relative" ng-if="project_detail_flag && !project_detail_flag">
                            <select name="project_id" class="form-control" id="project_id"
                                ng-model="inquiry_obj.project_id" required="" aria-required="true"
                                aria-invalid="true" autocomplete="off" tabindex="1">

                                <option value="" selected disabled class="gray-color"> </option>
                                <option value="{{data.project_id}}" class="capitalize"
                                    ng-repeat="data in projects_full_list">
                                    {{data.project_title}}
                                </option>

                            </select>
                            <label class="md-lable project_id_label" for="project_id">Project</label>
                            <div class="fa-icon">
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </div>
                        </div>

                        <div class="contact_lable">
                            <input id="name" name="name" type="text" ng-model="inquiry_obj.client_name"
                                required="required" class="form-control" letters-only tabindex="11" autocomplete="off">
                            <label class="md-lable" for="name">Name</label>
                        </div>
                        <div class="contact_lable">
                            <input id="email" name="email" type="email" ng-model="inquiry_obj.email_address" required=""
                                autocomplete="off" class="form-control  ng-valid-email" tabindex="22">
                            <label class="md-lable" for="email">Email</label>
                        </div>
                        <div class="contact_lable relative">
                            <input id="client_contact_no" name="client_contact_no" type="tel"
                                ng-model="inquiry_obj.client_contact_no_display" numbers-only="" minlength="{{inquiry_contact_no_length.minlength}}" maxlength="{{inquiry_contact_no_length.maxlength}}"
                                required="" autocomplete="off"
                                class="form-control  contact-form" tabindex="33" ng-trim="false">
                            <label class="md-lable contact_code" for="client_contact_no">Mobile Number</label>
                            <div class="conatct_number_input">
                                <div class="country_code_data" ng-click="country_code_click();">
                                    <div class="contact_country_flag">
                                        <img src="{{inquiry_obj.flag}}" alt="reecosys">
                                    </div>
                                    <div>
                                        &nbsp; +{{inquiry_obj.country}}
                                    </div>
                                    <div>
                                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="country_code_list_data" ng-class="{'active' : country_code_clickF}"
                                ng-click="$event.stopPropagation();">
                                <div class="search_c-code">
                                    <input type="text" ng-model="search" placeholder="Search">
                                </div>
                                <ul>
                                    <li ng-repeat="country_list_detail in country_list | filter: search: phonecode"
                                        ng-click="country_click(country_list_detail.phonecode, country_list_detail.flag); inquiry_country_change();">
                                        <div ng-click="country_code_click_false();">
                                            <div><img src="{{country_list_detail.flag}}" alt="reecosys">
                                            </div>
                                            <span class="display_country_code">+{{country_list_detail.phonecode}}</span>
                                            {{country_list_detail.nicename}}
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="contact_lable commentbox">
                            <textarea id="remarks" name="remarks" type="text" ng-model="inquiry_obj.remarks"
                                aria-invalid="false" autocomplete="off" class="form-control" tabindex="44"  rows="4">
                            </textarea>
                            <label class="md-lable" for="remarks">Comments</label>
                        </div>
                        <p class="relative check_box_error get_update_text align_center">
                            <input class="get_update_checkbox" type="checkbox" id="agree_tandc" tabindex="55" name="agree_tandc" ng-model="inquiry_obj.agree_tandc_display"  aria-required="true" aria-invalid="true">
                            <label class="darkgray-font" for="agree_tandc">
                                Keep me updated.
                            </label>
                        </p>
                        <div class="submit-button button-div filled-div-button form_button" ng-if="!save_inquiry_f">
                            <button class="button-style orange-button" type="submit" ng-disabled="save_inquiry_f" tabindex="66">
                                <p>
                                    Submit
                                </p>
                            </button>
                        </div>
                        <div class="submit-button form_button submit-button-contact button-div filled-div-button form_loading_btn" ng-if="save_inquiry_f">
                            <button class="button-style orange-button" type="submit" disabled tabindex="7">
                                <div class="loading_btn"></div>
                                <p>
                                    Please wait..
                                </p>
                            </button>
                        </div>
                        <!-- <p ng-if="project_contact_no">
                            Call on <a href="tel:+91{{project_contact_no}}">+91
                                {{project_contact_no}}</a> to get in touch
                        </p> -->

                    </div>

                </form>

            </div>
        </div>
    </div>
</div>