<div class="reecosys-main-wrapper" id="reecosys-main-wrapper" id="reecosys-main-wrapper" ng-if="!is_homelist_load">
    <div id="reecosys-home-wrapper" class="relative">


        <section class="reecosys-section relative" id="reecosys-home-section-1">
            <div class="video-listing-banner">

                <!-- video -->
                <video autoplay muted loop playsinline id="myVideo"
                    style="width: 100%;display: block; object-fit: cover;" class="gallery-images image-cover"
                    ng-if="home_list.image_web_type == 'video'">
                    <source src="{{home_list.image_web_full}}" type="video/mp4">
                </video>

                <!-- image -->
                <img src="assets/images/other/dummy_image.png" hires="{{home_list.image_web_full}}&h=1080&w=1903&q=75"
                    alt="{{home_list.home_title}}" class="gallery-images image-cover"
                    ng-if="home_list.image_web_type == 'image'">
            </div>

             <div class="black_overlay"></div>
            
            <div class="banner-section-typo inner-flex" ng-if="home_list.text_image_web_full && home_list.text_type == 'image'">
                <div class="banner-text-img wow fade_top" data-wow-delay="0.6s" data-wow-duration="0.6s">
                    <img src="{{home_list.text_image_web_full}}" alt="{{home_list.home_title}}">
                </div>
            </div>
            <div class="banner-section-typo inner-flex" ng-if="home_list.text_type == 'text'">
                <div class="banner-title wow fade_top" data-wow-delay="0.6s" data-wow-duration="0.6s">
                    <h2 class="white-color" ng-bind-html="home_list.text_display"></h2>
                </div>
            </div>
            <div class="project_banner_overlay"></div>
            <div class="scroll-btn home_down_arrow" ng-click="scrolltoDiv('reecosys-home-section-2');">
                <img src="assets/images/icon/down_arrow_black.svg" alt="{{home_list.home_title}}">
            </div>
        </section>

        <section class="reecosys-section relative" id="reecosys-home-section-2"
            ng-if="home_list.home_title || home_list.home_overview || home_list.highlights_array.length > 0">
            <div class="container">

                <div class="inner-flex">
                    <div class="section-information" ng-if="home_list.home_title">
                        <div class="section-title">
                            <h2 class="wow fade_top" data-wow-delay="0.6s" data-wow-duration="0.6s">
                                {{home_list.home_title}}
                            </h2>
                        </div>
                    </div>
                    <div class="content-size-div" ng-if="home_list.home_overview">
                        <p class="wow fade_top" data-wow-delay="0.6s" data-wow-duration="0.6s">
                            {{home_list.home_overview}}
                        </p>
                    </div>

                    <div class="highlights-grid" style="margin-bottom:0!important; margin-top: var(--smallgap-size);"
                        ng-if="home_list.highlights_array.length > 0">
                        <div class="wow fade_top" data-wow-delay="0.8s" data-wow-duration="0.6s"
                            ng-repeat="data in home_list.highlights_array">
                            <div class="section-title-big">
                                <h2>
                                    {{data.name}}
                                </h2>
                            </div>
                            <div class="content-size-div">
                                <p>
                                    {{data.tag_line}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="about-btn-home outline-div-button button-div wfc"
                        ng-if="!is_homelist_load && home_list.home_title">
                        <a href="about-us">
                            <button class="button-style download-fill-button wow fade_top" data-wow-duration="0.6s"
                                data-wow-delay="0.6s">
                                <p class="capitalize">
                                    Know More
                                </p>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section class="reecosys-section relative" id="reecosys-home-section-3"
            ng-if="projects_full_list && projects_full_list.length > 0 && is_section_Scrolled"
            style="margin-top: var(--mediumgap-size);">
            <div class="inner-flex inner-flex-d-gap overflow">
                <div ng-repeat="category_data in projects_category">
                    <div class="container-fluid">

                        <div class="section-information wow fadeIn" data-wow-delay="0.3s" data-wow-duration="0.6s">
                            <div class="section-title title-color">
                                <h2 class="capitalize">
                                    {{category_data.category}}
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="home-page-listing-swiper relative">
                        <div class="container-fluid">
                            <div class="project-list-grid project-list-grid-2-column">
                                <!-- {{projects_full_list}} -->
                                <div class="project-list-card wow fadeIn" data-wow-delay="0.{{$index+3}}s"
                                    data-wow-duration="0.6s" ng-repeat="project_list_data in projects_full_list"
                                    ng-if="category_data.category == project_list_data.category">
                                    <a href="project/{{project_list_data.slug}}">

                                        <div class="relative">
                                            <div class="project-img-list relative"
                                               >
                                                <img data-src="assets/images/other/dummy_image.png"
                                                    hires="{{project_list_data.banner_data.image_web_full}}&h=1079&w=1920&q=75"
                                                    alt="{{home_list.home_title}}" class="image-cover lazyload">
                                            </div>

                                            <div class="project-img-list relative"
                                                ng-if="project_list_data.banner_data.image_web_type == 'video'">
                                                <video autoplay muted loop playsinline id="myVideo"
                                                    style="width: 100%;display: block;height: 100%;object-fit: cover;">
                                                    <source data-src="assets/images/other/dummy_image.png"
                                                        hires="{{project_list_data.banner_data.image_web_full}}"
                                                        type="video/mp4" class="lazyload">
                                                </video>
                                            </div>
                                            <div class="project_status_lable" ng-if="project_list_data.status">
                                                <p class="capitalize">{{project_list_data.status}}</p>
                                            </div>
                                        </div>

                                        <div class="project-info-list">
                                            <div class="section-information">

                                                <div class="content-size-div section-title-flex j-c-sb">
                                                    <p class="capitalize charter_regular">
                                                        {{project_list_data.project_title}}
                                                    </p>
                                                    <div class="project-arrow-icon">
                                                        <img src="assets/images/icon/right_arrow_line.svg"
                                                            alt="{{home_list.home_title}}">
                                                    </div>
                                                </div>
                                                <!-- <div class="content-size-div home_project_area">
                                                    <p class="capitalize">
                                                        {{project_list_data.size_price}} |
                                                        {{project_list_data.location}} |
                                                        {{project_list_data.status}}
                                                    </p>
                                                </div> -->
                                                <div class="banner-detail-row banner-detail-row-grid">
                                                    <div class="project-information-div"
                                                        ng-if="project_list_data.size_price">
                                                        <div class="building-icon">
                                                            <img src="assets/images/icon/building.svg"
                                                                alt="{{home_list.home_title}}">
                                                        </div>
                                                        <div class="content-size-div banner-detail-row-grid-text">
                                                            <p class="capitalize ">
                                                                {{project_list_data.size_price}}
                                                            </p>
                                                        </div>
                                                    </div>

                                                    <div class="project-information-div"
                                                        ng-if="project_list_data.location">
                                                        <div class="building-icon">
                                                            <img src="assets/images/icon/location.svg"
                                                                alt="{{home_list.home_title}}">
                                                        </div>
                                                        <div class="content-size-div">
                                                            <p class="capitalize">
                                                                {{project_list_data.location}}
                                                            </p>
                                                        </div>
                                                    </div>


                                                    <!-- <div class="project-information-div"
                                                        ng-if="project_list_data.status.length > 0 ">
                                                        <div class="progress-status"
                                                            ng-if="project_list_data.construction.progress_percent">
                                                            <p>
                                                                {{project_list_data.construction.progress_percent}}
                                                            </p>
                                                        </div>
                                                        <div class="content-size-div" ng-if="project_list_data.status">
                                                            <p class="capitalize">
                                                                {{project_list_data.status}}
                                                            </p>
                                                        </div>
                                                    </div> -->

                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section ng-if="!projects_full_list" style="margin-top: var(--mediumgap-size);">
            <div class="content-size-div text-align-center">
                <p>No Projects to Display.</p>
            </div>
        </section>

    </div>
</div>

<section class="reecosys-section" ng-repeat="data in other_banner_list_get" ng-if="is_section_Scrolled">
    <a href="{{data.slug}}">
        <div class="container-fluidx">
            <div class="inner-flex">
                <div class="cp-homes-card relative wow fadeIn" data-wow-delay="0.6s"
                    data-wow-duration="0.{{$index+3}}s">
                    <div class="cp-homes-image relative">
                        <img data-src="{{data.banner_web_full}}&w=1700&h=900&q=75" alt="{{home_list.home_title}}"
                            ng-if="data.banner_web_type == 'image' " class="lazyload">
                        <video autoplay muted loop playsinline id="myVideo"
                            style="width: 100%;display: block; object-fit: cover;" class="image-cover"
                            ng-if="data.banner_web_type == 'video' ">
                            <source data-src="assets/images/other/dummy_image.png" hires="{{data.banner_web_full}}"
                                class="lazyload" type="video/mp4">
                        </video>
                        <!-- <div class="top-left-overlay"></div> -->
                        <div class="project_detail_overlay"></div>
                    </div>
                    <div class="green-homes-content-abs inner-flex">
                        <div class="inner-flex">
                            <div class="banner-title" ng-if="data.page_name">
                                <h2 class="white-color capitalize ">
                                    {{data.page_name}}
                                </h2>
                            </div>
                            <div class="content-size-div home-common-page-title" ng-if="data.title">
                                <p>{{data.title}}</p>
                            </div>
                            <div class="outline-div-button button-div section-banner-button">
                                <button class="button-style button-style-white">
                                    <p class="capitalize">
                                        Know More
                                    </p>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
</section>