<div class="reecosys-main-wrapper" id="reecosys-main-wrapper"  ng-click="country_code_click_false();">
    <div id="reecosys-contact-wrapper" class="relative">

        <section class="reecosys-section relative" id="reecosys-contact-section-banner">
        </section>

        <section class="reecosys-section commonpage_form_section" id="reecosys-contact-section-1">
            <div class="container">
                <div class="commonpage_grid">
                    <div class="inner-flex">
                        <div class="section-information">
                            <div class="section-title">
                                <h2 class="capitalize">
                                    Feedback
                                </h2>
                            </div>
                        </div>
                        <div class="content-size-div banner-content-size-div contact_detail comonpage_discription">
                            <p>
                                To make the process of <span style="color: #3a3a3a;"> buying a property easier for our
                                    ever growing NRI customer </span>base,
                                we have compiled a comprehensive set of facts, rules and requirements in one place which
                                makes investing in our properties hassle free.
                            </p>
                        </div>
                    </div>
                    <div>
                        <div ng-include='"templates/forms/feedback_form.html"'></div>
                    </div>
                </div>
            </div>

        </section>

    </div>
</div>