<div class="reecosys-main-wrapper" id="reecosys-main-wrapper">
    <div id="reecosys-list-wrapper" class="relative">

        <section class="reecosys-section relative wow fadeIn" data-wow-delay="0.6s" data-wow-duration="0.4s"
            id="reecosys-list-section-1">
            <div class="video-listing-banner-list">
                <img src="{{projects_full_list[0].banner_data.image_web_full}}&h=480&w=1920&q=75" alt="">
                <!-- <video autoplay="" muted="" loop="" playsinline="" id="myVideo" class="">
                    <source src=""
                        type="video/mp4">
                </video> -->
            </div>
            <div class="top-left-overlay-new"></div>
            <!-- <div class="banner-section-typo inner-flex">
                <div class="banner-text-img">
                    <img src="assets/images/banner-text/text_image_1659528358_56.svg" alt="{{project_list_data.project_title}}">
                </div>
            </div> -->
        </section>

        <section class="reecosys-section overflow" id="reecosys-list-section-2">
            <div class="container-fluid">
                <div class="inner-flex">
                    <div class="listing-section-header">
                        <div class="inner-flex-2 list_w100">
                            <div class="section-title wow fadeIn" data-wow-delay="0.6s" data-wow-duration="0.6s">
                                <h2>
                                    A Premium Living Lifestyle
                                </h2>
                            </div>

                            <div class="project-type-list-panel list_page_iconwrapper wow fadeIn" data-wow-delay="0.6s"
                                data-wow-duration="0.8s">
                                <div class="list-panel-ul">
                                    <ul>
                                        <li ng-class="{ active: isSet(1) }">
                                            <a href="javascript:void(0);" class="charter_regular"
                                                ng-click="category_get_f(''); setTab(1);">
                                                All
                                            </a>
                                        </li>

                                        <li ng-class="{ active: category_get == category_data.category }"
                                            ng-repeat="category_data in projects_category"
                                            ng-if="category_data.category">
                                            <a href="javascript:void(0);" class="capitalize charter_regular"
                                                ng-click="category_get_f(category_data.category); setTab($index+2);">
                                                {{category_data.category}}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="list-change-button">
                                    <div class="list-change-button-icon">
                                        <img src="assets/images/icons/list_icon.svg"
                                            alt="{{project_list_data.project_title}}">
                                    </div>
                                    <div class="list-change-ul">
                                        <ul>
                                            <li class="columntab">
                                                <a href="javascript:void(0);" ng-class="{'activelink': column_get == 1}"
                                                    ng-click="column_get_f(1);">
                                                    1 Column
                                                </a>
                                            </li>
                                            <li class="columntab">
                                                <a href="javascript:void(0);" ng-class="{'activelink': column_get == 2}"
                                                    ng-click="column_get_f(2);">
                                                    2 Column
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div ng-include="'templates/list_all.html'"></div>
                    </div>

                    <div class="list-grid-block active" ng-show="isSet(1)" id="column-1" ng-if="extra_load">
                        <div class="project-list-grid project-list-grid-1-column">
                            <div class="project-list-card" ng-repeat="project_list_data in projects_full_list">
                                <a href="project/{{project_list_data.slug}}">

                                    <div class="project-img-list relative"
                                        ng-if="project_list_data.banner_data.image_web_type == 'image'">
                                        <img src="assets/images/other/dummy_image.png"
                                            hires="{{project_list_data.banner_data.image_web_full}}&w=1320&h=740&q=75"
                                            alt="{{project_list_data.project_title}}" class="image-cover">
                                        <div class="card_black_overlay"></div>
                                    </div>

                                    <div class="project-img-list relative"
                                        ng-if="project_list_data.banner_data.image_web_type == 'video'">
                                        <video autoplay muted loop playsinline id="myVideo"
                                            style="width: 100%;display: block;height: 100%;object-fit: cover;">
                                            <source src="{{project_list_data.banner_data.image_web_full}}"
                                                type="video/mp4">
                                        </video>
                                        <div class="card_black_overlay"></div>
                                    </div>
                                    <div class="project-info-list">
                                        <div class="section-information">
                                            <!-- <div class="status-lable content-size-div"
                                                style="margin-left: auto;margin-right:auto;">
                                                <p class="capitalize" style="color: #fff !important;">
                                                    {{project_list_data.status}}</p>
                                            </div> -->
                                            <div class="banner-title">
                                                <h2>
                                                    {{project_list_data.project_title}}
                                                </h2>
                                            </div>
                                            <div class="content-size-div capitalize">
                                                <p>
                                                    <!-- 3 BHK Green Homes | -->
                                                    {{project_list_data.size_price}} | {{project_list_data.location}} |
                                                    {{project_list_data.status}}
                                                </p>
                                            </div>

                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>


                    <div class="list-grid-block" ng-show="isSet(2)" ng-if="extra_load">
                        <div class="project-list-grid project-list-grid-1-column">
                            <div class="project-list-card" ng-repeat="project_list_data in projects_full_list">
                                <a href="project/{{project_list_data.slug}}">
                                    <div class="project-img-list relative"
                                        ng-if="project_list_data.banner_data.image_web_type == 'image'">
                                        <img src="assets/images/other/dummy_image.png"
                                            hires="{{project_list_data.banner_data.image_web_full}}&h=1079&w=1920&q=75"
                                            alt="{{project_list_data.project_title}}" class="image-cover">
                                        <div class="card_black_overlay"></div>
                                    </div>

                                    <div class="project-img-list relative"
                                        ng-if="project_list_data.banner_data.image_web_type == 'video'">
                                        <video autoplay muted loop playsinline id="myVideo"
                                            style="width: 100%;display: block;height: 100%;object-fit: cover;">
                                            <source src="{{project_list_data.banner_data.image_web_full}}"
                                                type="video/mp4">
                                        </video>
                                        <div class="card_black_overlay"></div>
                                    </div>
                                    <div class="project-info-list">
                                        <div class="section-information">
                                            <!-- <div class="status-lable content-size-div"
                                                style="margin-left: auto;margin-right:auto;">
                                                <p style="color: #fff !important;">{{project_list_data.status}}</p>
                                            </div> -->
                                            <div class="banner-title">
                                                <h2>
                                                    {{project_list_data.project_title}}
                                                </h2>
                                            </div>
                                            <div class="content-size-div">
                                                <p>
                                                    {{project_list_data.size_price}} | {{project_list_data.location}} |
                                                    {{project_list_data.status}}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>

                    <div class="list-grid-block" ng-show="isSet(3)" ng-if="extra_load"></div>

                    <div class="list-grid-block hide" id="column-2" ng-if="" extra_load>
                        <div class="project-list-grid project-list-grid-2-column">
                            <div class="project-list-card" ng-repeat="project_list_data in projects_full_list">
                                <a href="project/{{project_list_data.slug}}">

                                    <div class="project-img-list relative"
                                        ng-if="project_list_data.banner_data.image_web_type == 'image'">
                                        <img src="assets/images/other/dummy_image.png"
                                            hires="{{project_list_data.banner_data.image_web_full}}&h=1079&w=1920&q=75"
                                            alt="{{project_list_data.project_title}}" class="image-cover">
                                        <div class="card_black_overlay"></div>
                                    </div>

                                    <div class="project-img-list relative"
                                        ng-if="project_list_data.banner_data.image_web_type == 'video'">
                                        <video autoplay muted loop playsinline id="myVideo"
                                            style="width: 100%;display: block;height: 100%;object-fit: cover;">
                                            <source src="{{project_list_data.banner_data.image_web_full}}"
                                                type="video/mp4">
                                        </video>
                                        <div class="card_black_overlay"></div>
                                    </div>
                                    <div class="project-info-list">
                                        <div class="section-information">

                                            <div class="title-size">
                                                <p>
                                                    {{project_list_data.project_title}}
                                                </p>
                                                <div class="project-arrow-icon">
                                                    <img src="assets/images/icon/right_arrow_line.svg"
                                                        alt="{{project_list_data.project_title}}">
                                                </div>
                                            </div>
                                            <div class="content-size-div">
                                                <p>
                                                    {{project_list_data.size_price}} | {{project_list_data.location}} |
                                                    {{project_list_data.status}}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>