<div class="reecosys-main-wrapper" id="reecosys-main-wrapper" ng-click="country_code_click_false();"
    ng-if="!is_profile_page_loading">
    <div id="reecosys-aboutus-wrapper" class="relative">

        <section class="reecosys-section relative" id="reecosys-aboutus-section-1">
            <div class="overflow" ng-if="profile_page_data.banner_web_full">
                <div style="height: 100%;" class="profile_banner_image commonpage_banner">
                    <img src="assets/images/other/dummy_760.png"
                        hires="{{profile_page_data.banner_web_full}}&w=1910&h=760&q=80" alt="">
                </div>
            </div>

            <div class="inner-flex profile_info">
                <div class="section-title-big" ng-if="profile_page_data.profile_name">
                    <h2>{{profile_page_data.profile_name}}</h2>
                </div>

                <div class="content-size-div" ng-if="profile_page_data.designation_array.length > 0">
                    <div class="profilepage_designation">
                        <ul>
                            <li ng-repeat="data in profile_page_data.designation_array" ng-if="data.description">
                                <p ng-bind-html="data.description"></p>
                                <p ng-if="data.start_date_select" class="designation_dates">
                                    <span>{{data.start_date_select}} - </span>
                                    <span ng-if="data.end_date_select">{{data.end_date_select}}</span>
                                    <span ng-if="!data.end_date_select">Present</span>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>

                <div
                    ng-if="profile_page_data.facebook_url || profile_page_data.linkedin_url || profile_page_data.instagram_url || profile_page_data.twitter_url">
                    <ul class="profile_info_social">
                        <li ng-if="profile_page_data.facebook_url">
                            <a href="{{profile_page_data.facebook_url}}" target="_blank">
                                <div>
                                    <img src="assets/images/icon/cs_icons/facebook.svg"
                                        alt="{{common_page_list.page_name}}">
                                </div>
                            </a>
                        </li>
                        <li ng-if="profile_page_data.linkedin_url">
                            <a href="{{profile_page_data.linkedin_url}}" target="_blank">
                                <div>
                                    <img src="assets/images/icon/cs_icons/linkedin.svg"
                                        alt="{{common_page_list.page_name}}">
                                </div>
                            </a>
                        </li>
                        <li ng-if="profile_page_data.instagram_url">
                            <a href="{{profile_page_data.instagram_url}}" target="_blank">
                                <div>
                                    <img src="assets/images/icon/cs_icons/insta.svg"
                                        alt="{{common_page_list.page_name}}">
                                </div>
                            </a>
                        </li>
                        <li ng-if="profile_page_data.twitter_url">
                            <a href="{{profile_page_data.twitter_url}}" target="_blank">
                                <div>
                                    <img src="assets/images/icon/cs_icons/twitter.svg"
                                        alt="{{common_page_list.page_name}}">
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="reecosys-section relative" id="reecosys-aboutus-section-3"
            ng-if="profile_page_data.profile_tagline">
            <div class="container">
                <div class="profile_page_discription">
                    <div class="section-title">
                        <h2>
                            {{profile_page_data.profile_tagline}}
                        </h2>
                    </div>
                </div>
            </div>
        </section>

        <section class="reecosys-section relative reecosys-profilepage-section-4"
            ng-repeat="data in profile_page_data.introduction_array"
            ng-if="profile_page_data.introduction_array.length > 0">
            <div class="container">
                <div class="inner-flex">
                    <div class="content-size-div profile_introduction_title">
                        <p class="title-color capitalize bold_text">
                            <b>{{data.title}}</b>
                        </p>
                    </div>
                    <div class="content-size-div profile_designation_data">
                        <p class="bold_text" ng-bind-html="data.description"></p>
                    </div>
                </div>
            </div>
        </section>

        <section class="reecosys-section relative" ng-if="profile_page_data.profile_awards_array.length > 0">
            <div class="container">
                <div class="inner-flex">
                    <div class="content-size-div">
                        <p class="title-color capitalize bold_text">
                            <b>Awards</b>
                        </p>
                    </div>
                    <div class="profile_awards_list">
                        <ul class="profile_awards_grid">
                            <li ng-repeat="data in profile_page_data.profile_awards_array">
                                <div class="section-information">
                                    <div class="profile_awards_image">
                                        <img src="{{data.image_main}}&h=450&w=450" alt="">
                                    </div>
                                    <div class="awards_flex">
                                        <div class="content-size-div profile_small_text">
                                            <p>{{data.name}} - {{data.award_date_select}}</p>
                                        </div>
                                        <div class="awards_link_arrow" ng-if="data.link">
                                            <a href="{{data.link}}" target="_blank">
                                                <img src="assets/images/icon/right_arrow_line.svg" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section class="reecosys-section relative photo_gallery_images"
            ng-if="profile_page_data.profile_gallery_array.length > 0">
            <div class="inner-flex">
                <div class="container wow fadeIn" data-wow-duration="0.6s" data-wow-delay="0.9s">
                    <div class="inner-flex">
                        <div class="content-size-div">
                            <p class="title-color capitalize bold_text">
                                <b>{{profile_page_data.gallery_media_title}}</b>
                            </p>
                        </div>
                        <div ng-if="profile_page_data.profile_gallery_array.length < 3">
                            <div class="profile_gallery_grid">
                                <div ng-repeat="data in profile_page_data.profile_gallery_array">
                                    <a data-fancybox="profile_images" href="{{data.image_main}}&h=1000&w=1000"
                                        target="_self" class="">
                                        <div class="overflow">
                                            <img src="assets/images/other/dummy_480.jpg"
                                                hires="{{data.image_main}}&h=800&w=800" alt=""
                                                class="image-cover wow fadeIn" data-wow-duration="0.6s"
                                                data-wow-delay="0.{{$index*3}}s">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="relative overflow" ng-if="profile_page_data.profile_gallery_array.length > 3">
                    <ks-swiper-container override-parameters="profile_page_swiper">
                        <ks-swiper-slide ng-repeat="data in profile_page_data.profile_gallery_array">
                            <div class="project-gallery-card-3d relative">
                                <a data-fancybox="profile_images" href="{{data.image_main}}&h=1000&w=1000"
                                    target="_self" class="">
                                    <div class="overflow">
                                        <img src="assets/images/other/dummy_480.jpg"
                                            hires="{{data.image_main}}&h=800&w=800" alt=""
                                            class="image-cover wow fadeIn" data-wow-duration="0.6s"
                                            data-wow-delay="0.{{$index*3}}s">
                                    </div>
                                </a>
                            </div>
                        </ks-swiper-slide>
                    </ks-swiper-container>
                </div>
            </div>
            <div class="swiper-scrollbar swiper-scrollbar-gallery" ng-if="profile_page_data.profile_gallery_array.length > 3"></div>
        </section>

        <section class="reecosys-section relative photo_gallery_images"
            ng-if="profile_page_data.profile_video_array.length > 0">

            <div class="container wow fadeIn" data-wow-duration="0.6s" data-wow-delay="0.9s">
                <div class="inner-flex">
                    <div class="content-size-div">
                        <p class="title-color capitalize bold_text">
                            <b>{{profile_page_data.video_media_title}}</b>
                        </p>
                    </div>

                    <div class="relative profile_video_swiper">
                        <div class="profile_video_grid">
                            <div ng-repeat="data in profile_page_data.profile_video_array">

                                <div ng-if="data.type == 'url'" class="profile_video_block">

                                    <a class="fancybox" data-fancybox="profile-video" data-type="iframe"
                                        data-href="{{data.url}}" href="javascript:void(0)" target="_self">
                                        <div class="section-information">
                                            <div class="relative profile_video_image">
                                                <img src="{{data.url_thumnail}}&h=370&w=650" alt="{{data.video_title}}">
                                                <div class="black_overlay"></div>
                                                <div class="play_icon">
                                                    <img src="assets/images/icons/play-btn.svg"
                                                        alt="{{data.video_title}}">
                                                </div>
                                            </div>
                                            <div class="content-size-div profile_small_text" ng-if="data.video_title">
                                                <p class="capitalize">{{data.video_title}}</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div ng-if="data.type == 'video'" style="height: 100%;" class="profile_video_block">
                                    <div class="section-information" ng-click="profile_video_click(data.video);">
                                        <div class="relative profile_video_image">
                                            <img src="{{data.video_image_thumb}}&h=370&w=650" alt="{{data.video_title}}"
                                                class="profile_thumb_image">
                                            <div class="black_overlay"></div>
                                            <div class="play_icon">
                                                <img src="assets/images/icons/play-btn.svg" alt="{{data.video_title}}">
                                            </div>
                                        </div>
                                        <div class="content-size-div profile_small_text" ng-if="data.video_title">
                                            <p class="capitalize">{{data.video_title}}</p>
                                        </div>
                                    </div>
                                    <div class="video_play_block" ng-class="{'active': profile_video_click_f}"
                                        ng-if="profile_url">
                                        <video playsinline controls
                                            style="width: 100%; height: 100%; display: block; object-fit: contain;">
                                            <source src="{{profile_url}}" type="video/mp4">
                                        </video>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="reecosys-section relative" ng-if="profile_page_data.blog_data.length > 0">
            <div class="inner-flex">
                <div class="container">
                    <div class="content-size-div">
                        <p class="title-color capitalize bold_text wow fadeIn" data-wow-duration="0.6s" data-wow-delay="0.6s">
                            Blogs
                        </p>
                    </div>
                </div>
                <div ng-if="profile_page_data.blog_data.length > 2" class="project-blog-swiper wow fadeIn" data-wow-duration="0.6s" data-wow-delay="0.7s">
                    <ks-swiper-container override-Parameters="project_blog_swiper">
                        <ks-swiper-slide ng-repeat="data in profile_page_data.blog_data">
                            <a href="blog/{{data.slug}}">
                                <div class="section-information">
                                    <div class="profile_blog_image relative">
                                        <img src="assets/images/other/dummy_image.png"
                                            hires="{{data.image_full}}&h=400&w=590&q=75" alt=""
                                            class="image-cover lazyload">
                                    </div>
                                    <div class="blog_title_flex j-c-sb">
                                        <div class="content-size-div profile_small_text">
                                            <p>{{data.banner_title}}</p>
                                            <p class="blog-published-date">{{data.published_date}}</p>
                                        </div>
                                        <div>
                                            <div class="blog-arrow-icon">
                                                <img src="assets/images/icon/right_arrow_line.svg" alt="Blog">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </ks-swiper-slide>
                    </ks-swiper-container>
                    <div class="swiper-scrollbar swiper-scrollbar-blog" ng-if="profile_page_data.blog_data.length > 2"></div>
                </div>
                <div class="container" ng-if="profile_page_data.blog_data.length <= 2">
                    <div class="profile_blog_block wow fadeIn" data-wow-duration="0.6s" data-wow-delay="0.7s">
                        <div ng-repeat="data in profile_page_data.blog_data">
                            <a href="blog/{{data.slug}}">
                                <div class="section-information">
                                    <div class="profile_blog_image relative">
                                        <img src="assets/images/other/dummy_image.png"
                                            hires="{{data.image_full}}&h=400&w=590&q=75" alt=""
                                            class="image-cover lazyload">
                                    </div>
                                    <div class="blog_title_flex j-c-sb">
                                        <div class="content-size-div profile_small_text">
                                            <p>{{data.banner_title}}</p>
                                            <p class="blog-published-date">{{data.published_date}}</p>
                                        </div>
                                        <div>
                                            <div class="blog-arrow-icon">
                                                <img src="assets/images/icon/right_arrow_line.svg" alt="Blog">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="reecosys-section relative" ng-if="profile_page_data.is_form_active == '1'">
            <div ng-include='"templates/forms/profile_page_form.html"'></div>
        </section>

    </div>
</div>

<div class="profile_video_close_icon" ng-click="profile_video_click_close();"
    ng-class="{'active': profile_video_click_f}">
    <img src="assets/images/icons/close.svg" alt="">
</div>

<div class="video_overlay" ng-class="{'video_active': profile_video_click_f}" ng-click="profile_video_click_close()">
</div>